# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

keybinding:
  universal:
    confirmInEditor: <c-s>

# [[ if .work -]]
customCommands:
  - key: "<c-g>"
    description: "Gerrit commands"
    commandMenu:
      - key: "p"
        description: "Push gerrit change"
        context: "global"
        loadingText: "Pushing to gerrit ..."
        command: "git review -y"
      - key: "T"
        description: "Push without topic"
        context: "global"
        loadingText: "Cherry-Picking out Gerrit Review ..."
        command: "git review -T"
      - key: "d"
        description: "Checkout gerrit review"
        context: "localBranches"
        loadingText: "Checking out Gerrit Review ..."
        command: "git review -d {{.Form.ChangeNumber}}"
        prompts:
          - type: "menuFromCommand"
            title: "Which Change-Set do you want to check out?"
            key: "ChangeNumber"
            command: >-
              bash -c "git review -l | tac | tail -n +2 | tac"
            filter: '(?P<number>[0-9]+)  (?P<branch>[^ ]+)  (?P<Subject>.+)'
            valueFormat: '{{.number}}'
            labelFormat: '{{.number | white | bold}} {{.Subject | yellow | bold}}{{" [" | black | bold}}{{.branch | green}}{{"]" | black | bold}}'
      - key: "x"
        description: "Cherry-pick gerrit review"
        context: "localBranches"
        loadingText: "Cherry-Picking out Gerrit Review ..."
        command: "git review -x {{.Form.ChangeNumber}}"
        prompts:
          - type: "menuFromCommand"
            title: "Which Change-Set do you want to check out?"
            key: "ChangeNumber"
            command: >-
              bash -c "git review -l | tac | tail -n +2 | tac"
            filter: '(?P<number>[0-9]+)  (?P<branch>[^ ]+)  (?P<Subject>.+)'
            valueFormat: '{{.number}}'
            labelFormat: '{{"#" | black | bold}}{{.number | white | bold}} {{.Subject | yellow | bold}}{{" [" | black | bold}}{{.branch | green}}{{"]" | black | bold}}'
# [[- end ]]
