# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

export XDG_CONFIG_HOME="$HOME/.config"

# __bashrc_bench=1

# If not running interactively, don't do anything
case $- in
  *i*) ;;
  *) return;;
esac

# Use default prompt and simple aliases if we are in distrobox

# uncomment for a colored prompt, if the terminal has the capability; turned
# off by default to not distract the user: the focus in a terminal window
# should be on the output of commands, not on the prompt
#force_color_prompt=yes

if [ -n "$force_color_prompt" ]; then
  if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
    # We have color support; assume it's compliant with Ecma-48
    # (ISO/IEC-6429). (Lack of such support is extremely rare, and such
    # a case would tend to support setf rather than setaf.)
    color_prompt=yes
  else
    color_prompt=
  fi
fi

if [ "$color_prompt" = yes ]; then
  # shellcheck disable=SC2154
  PS1='${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
  # shellcheck disable=SC2154
  PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi
unset color_prompt force_color_prompt

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
  if [ -r ~/.dircolors ]; then
    eval "$(dircolors -b ~/.dircolors)" 
  else
    eval "$(dircolors -b)"
  fi
  alias ls='ls --color=auto'
  #alias dir='dir --color=auto'
  #alias vdir='vdir --color=auto'

  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

# If we are running in a distrobox then skip this.
if [ -n "$CONTAINER_ID" ]; then
  return
fi

for f in "$XDG_CONFIG_HOME"/bashrc.d/*.bash; do
  if [[ $__bashrc_bench ]]; then
    TIMEFORMAT="$f: %R"
    # shellcheck disable=SC1090
    time source "$f"
    unset TIMEFORMAT
  else
    # shellcheck disable=SC1090
    source "$f"
  fi
done

# vim: ft=bash
